<Configuration status="WARN" monitorInterval="300">
    <properties>
        <!--        https://www.mojohaus.org/appassembler/appassembler-maven-plugin/usage-script.html--> ${sys:basedir}
        <property name="LOG_HOME">${sys:basedir}/logs/</property>
        <property name="FILE_NAME">${natproxy:log.filename}</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{%d{HH:mm:ss.SSS} - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=blue bold, TRACE=white}"/>
        </Console>
        <RollingFile name="RollingFile"
                     fileName="${LOG_HOME}/${FILE_NAME}"
                     filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd HH-mm}-%i">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} - %c{1.} - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="org.github.ponking66" level="info"/>
        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </root>
    </Loggers>

</Configuration>